.footer(style="color: #fff;")
  .container(style='padding-bottom: 30px;')
    .row(style='justify-content: space-around;')
      .col-sm-3.col-12.pt-2(style='display: flex; flex-direction: column;')
        a(href='/')
          img(src='/images/logo-1.PNG' alt='logo web' style='width: 50%')
        span(style='padding-top: 5px; font-size: 1rem; font-weight: 500;') Cùng học tập - phát triển - có gấu - thành công
      .footer__info
        .col-sm-9.col-12.pt-2(style='position: relative; display: flex; flex-direction: column;')
          span(style='font-size: 12px; font-weight: 500;') Thành viên phát triển: Vũ Văn Thái - Sinh viên khoa Công nghệ thông tin
          span(style='font-size: 18px; font-weight: 600;') Trường Đại học Khoa học Tự nhiên - Đại học Quốc gia thành phố Hồ Chí Minh
          span(style='font-size:10px;') Liên hệ: 20120579@student.hcmus.edu.vn - vuvanthai1410@gmail.com - 0796512568 - fb.com/vvthai141
          span(style='position: absolute; top: 100%;') &copy; 2022 - VVT Blog - Vũ Văn Thái
