doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='shortcut icon' type='image/png' href='/images/logo-1.PNG')
            title Blog | Đăng kí

        // Link CSS
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/base.css")
        link(rel="stylesheet" href="/css/main.css")
        // Link CSS
        
        // Link FONTS
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        // Link FONTS   
  
    body
        .background
            form#register-form.form(action='' method='POST')
                .form__logo
                    a.form__logo--link(href='/')
                        img.form__logo--img(src='/images/logo-1.PNG' style='width: 80px;')
                h3.heading Đăng kí thành viên
                p.desc Cùng nhau chia sẻ kiến thức miễn phí ❤️

                .spacer

                .form-group
                    label.form-label(for='fullname') Tên đầy đủ
                    input#fullname.form-control(name='fullname' rules='required' type='text' placeholder='VD: Sơn Đặng')
                    span.form-message
                .form-group
                    label.form-label(for='email') Email
                    input#email.form-control(name='email' rules='required|email' type='text' placeholder='VD: email@domain.com')
                    span.form-message
                .form-group
                    label.form-label(for='password') Mật khẩu
                    input#password.form-control(name='password' rules='required|min:6' type='password' placeholder='Nhập mật khẩu')
                    span.form-message
                .form-group
                    label.form-label(for='passwordConfirm') Xác thực mật khẩu
                    input#passwordConfirm.form-control(name='passwordConfirm' rules='required|min:6' type='password' placeholder='Nhập lại mật khẩu')
                    span.form-message
                button.form-submit Đăng ký

                span(style="float: right; display: flex; font-size: 13px; padding-top: 10px;") Có tài khoản?
                        a(href="/login" style="padding-left: 5px;") Đăng nhập
    
  
        // Link JS BOOTSTRAP
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        // Link JS BOOTSTRAP

        script(src='/javascript/bundle.js') 